{% extends "base_generic.html" %}

{% block content %}
<h1>Book List</h1>
{% if perms.catalog.can_mark_returned %}
<a href="{% url 'book-create' %}">Create book</a>
{% endif %}
    <table>
      {% for book in book_list %}
        <tr>
          <!-- All users can view books in the library -->
          <td>
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
            ({{ book.author }})
          </td>

          <!-- Only permissioned users can update or delete Books -->
          {% if perms.catalog.can_mark_returned %}
            <td><a href="{% url 'book-update' book.id %}">Update</a></td>
            <td><a  class="text-danger" href="{% url 'book-delete' book.id %}">Delete</a></td>
          {% endif %}
        </tr>
        {% empty %}
        <p>There are no books in the library</p>
      {% endfor %}
    </table>
{% endblock %}
